@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s97byo');
  src:  url('../fonts/icomoon.eot?s97byo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s97byo') format('truetype'),
    url('../fonts/icomoon.woff?s97byo') format('woff'),
    url('../fonts/icomoon.svg?s97byo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-behance:before {
  content: "\f1b4";
}
